:root {
    --bg-button: #f0f0f0;
    --bg-button-active:  #ccc;
    --bg-button-operation: #fa8231;
    --bg-button-operation-active: #bc6932d6;

    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;

    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: var(--bg-button-active);
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: var(--bg-button-operation);
    color: #fff
}

.button.operation:active {
    background-color: var(--bg-button-operation-active);
}