@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: #32315e;
  background: linear-gradient(90deg, rgba(50, 49, 94, 1) 0%, rgba(100, 100, 196, 1) 35%, rgba(199, 244, 255, 1) 100%);
}